<div class="page-header">
  <h1>Random Circles</h1>
</div>



  <div class="row">
    <div class="col-sm-12">
      <p class="lead">
        Click <a href="http://localhost:3000/areas/circle/<%= @rand1 %>">here</a> to see the area of a circle of radius <%= @rand1 %>.
              </p>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-12">
      <p class="lead">
        Click <a href="http://localhost:3000/areas/circle/<%= @rand2 %>">here</a> to see the area of a circle of radius <%= @rand2 %>.
      </p>
    </div>
  </div>



  <div class="row">
    <div class="col-sm-12">
      <p class="lead">
        Click <a href="http://localhost:3000/areas/circle/<%= @rand3 %>">here</a> to see the area of a circle of radius <%= @rand3 %>.
      </p>
    </div>
  </div>

 <div class="row">
    <div class="col-sm-12">
      <p class="lead">
        Click <a href="http://localhost:3000/areas/circle/<%= @rand4 %>">here</a> to see the area of a circle of radius <%= @rand4 %>.
      </p>
    </div>
  </div>

   <div class="row">
    <div class="col-sm-12">
      <p class="lead">
        Click <a href="http://localhost:3000/areas/circle/:<%= @rand5 %>">here</a> to see the area of a circle of radius <%= @rand5 %>.
      </p>
    </div>
  </div>
